{% extends "layouts/base.view.html" %}

{% block content %}
  
<div class="unix-login">
    <div class="container-fluid py-5">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="login-content card">
                    <div class="card-body">
                        <h4>Login</h4>
                        {% if flushable %}
                            <div class="alert alert-danger">{{flushable}}</div>
                        {% endif %}
                        <form method="post" action="/auth/authenticate">
                            <div class="form-group">
                                <label>Email address</label>
                                <input type="email" name="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" name="password" class="form-control" placeholder="Password">
                            </div>
                            <div class="checkbox">
                                <label>
                                        <input type="checkbox"> Remember Me
                                    </label>
                                <label class="pull-right">
                                        <a href="#">Forgotten Password?</a>
                                    </label>

                            </div>
                            <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Sign in</button>
                            <div class="register-link m-t-15 text-center">
                                <p>Don't have account ? <a href="/auth/signup"> Sign Up Here</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}